[Unit]
Description=SSH tunnel for omega port forwards
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/ssh -NT omega-ports
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
